.jumbotron {
  min-height: 300px;
  padding-top: 100px;
}

.jumbotron{
  background-image: url("./bookBg.png");
  background-size: cover;
}

#jumboHead{
  color: ghostwhite;
  font-family: sans-serif;
  -webkit-text-stroke: 1px black;
}
